<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.cloudthat.User">
        <!-- collaborators and configuration for this bean go here -->
        <property name="userName" value="John" />
        <property name="emailId" value="john@cloudthat.com" />
        <property name="phoneNumber" value="1234567890" />
    </bean>

    <!-- more bean definitions go here -->

</beans>