<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.cloudthat.User" scope="prototype">
        <!-- collaborators and configuration for this bean go here -->
        <property name="userName" value="John" />
        <property name="emailId" value="john@cloudthat.com" />
<!--        <property name="phoneNumber" value="1234567890" />-->
        <property name="phoneNumber" ref="phonenumber"/>

    </bean>
    <bean id="phonenumber" class="com.cloudthat.PhoneNumber" >
        <property name="countryCode" value="+91"/>
        <property name="number" value="1234567890"/>
    </bean>

    <!-- more bean definitions go here -->
<!--    <bean id="user1" class="com.cloudthat.User">-->
<!--        &lt;!&ndash; collaborators and configuration for this bean go here &ndash;&gt;-->
<!--        <property name="userName" value="John1" />-->
<!--        <property name="emailId" value="john1@cloudthat.com" />-->
<!--        <property name="phoneNumber" value="1234567890" />-->
<!--    </bean>-->
</beans>